<header>
  <nav class="navButton" onclick="navBar()">
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </nav>
  <nav class="navigation">
    <ul>
      <li><a href="home">Accueil</a></li>
      <li><a href="maps.php">Matelas</a>
      <ul>
        <li class="menu-deroulant"><a href="#">Ressorts</a></li>
        <li><a href="#">Ressorts</a></li>
      </ul>
      
      
      </li>
      <li>Sommiers</li>
      <li>Lits</li>
      <li onclick="navBar(),showContact()">Contact</li>
      <li onclick="navBar(),showAbout()">A propos</li>
    </ul>
  </nav>
</header>